<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addHint1</key>
	<string>matrix.mania.hint.purchase</string>
	<key>addHint2</key>
	<string>matrix.mania.hint.2.purchase</string>
	<key>addHint3</key>
	<string>matrix.mania.hint.3.purchase</string>
</dict>
</plist>
